@layer base {
	@font-face {
		font-family: 'Lora';
		src:
			url('../lib/assets/fonts/Lora-Variable.woff2') format('woff2 supports variations'),
			url('../lib/assets/fonts/Lora-Variable.woff2') format('woff2-variations'),
			url('../lib/assets/fonts/Lora-VariableItalic.woff2') format('woff2 supports variations'),
			url('../lib/assets/fonts/Lora-VariableItalic.woff2') format('woff2-variations');
		font-weight: 400 700;
		font-style: normal, italic;
	}

	body,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	li,
	.fluid,
	textarea,
	input,
	select,
	button,
	th,
	td {
		/* FONT SCALE
            Sourced from https://fluid-type.tolin.ski/
            Min: Major 3rd 5/4
            Max: Perfect 4th 4/3
            16px Base Font Sizes
        */
		--fl: 0;
		--font-size-min: 16;
		--font-size-max: 16;
		--font-ratio-min: 1.25;
		--font-ratio-max: 1.3333333333333333;
		--font-width-min: 320;
		--font-width-max: 1500;
		--fluid-min: calc(var(--font-size-min) * pow(var(--font-ratio-min), var(--fl, 0)));
		--fluid-max: calc(var(--font-size-max) * pow(var(--font-ratio-max), var(--fl, 0)));
		--fluid-preferred: calc(
			(var(--fluid-max) - var(--fluid-min)) / (var(--font-width-max) - var(--font-width-min))
		);
		--fluid-type: clamp(
			(var(--fluid-min) / 16) * 1rem,
			((var(--fluid-min) / 16) * 1rem) -
				(((var(--fluid-preferred) * var(--font-width-min)) / 16) * 1rem) +
				(var(--fluid-preferred) * var(--variable-unit, 100vi)),
			(var(--fluid-max) / 16) * 1rem
		);
		font-size: var(--fluid-type);
	}

	h1,
	.h1 {
		--fl: 5;
	}
	h2,
	.h2 {
		--fl: 4;
	}
	h3,
	.h3 {
		--fl: 3;
	}
	h4,
	.h4 {
		--fl: 2;
	}
	h5,
	.h5 {
		--fl: 1;
	}
	h6,
	.h6 {
		--fl: 0;
	}
	p,
	li,
	body {
		--fl: 0;
	}

	* {
		font-family: var(--font-family, 'Lora');
		font-variation-settings: var(--fw-400, 'wght' 400);
		color: var(--fg);
	}

	a,
	span {
		font-size: inherit;
		color: inherit;
		font-weight: inherit;
		font-variation-settings: inherit;
	}
}
