@layer base {
	@font-face {
		font-family: 'Lora';
		src:
			url('../lib/assets/fonts/Lora-Variable.woff2') format('woff2 supports variations'),
			url('../lib/assets/fonts/Lora-Variable.woff2') format('woff2-variations'),
			url('../lib/assets/fonts/Lora-VariableItalic.woff2') format('woff2 supports variations'),
			url('../lib/assets/fonts/Lora-VariableItalic.woff2') format('woff2-variations');
		font-weight: 400 700;
		font-style: normal, italic;
	}

	* {
		font-family: var(--fontFamily);
	}
}
